body {
    margin: 0;
    color: #575353;
}

main {
    background: url("https://static3.depositphotos.com/1007979/246/i/600/depositphotos_2462632-stock-photo-abstract-background.jpg");
    background-size: cover;
    padding: 30px 0;
}

ul {
    list-style-type: none;
    padding-bottom: 20px;
}

a {
    color: #2e1b1b
}

li {
    padding: 5px;
}

section {
    background: url("cv.jpg");
    background-size: cover;
    margin: 0 250px;
    padding: 50px;
    box-shadow: 0 0 8px black;
}

header {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

header img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

h1 {
    font-size: 40px;
    padding-bottom: 10px;
    color: #2b2828;
}

h2 {
    font-size: 25px;
    text-transform: uppercase;
    color: #2b2828;
}

.text {
    font-style: italic;
}

article {
    display: flex;
    width: 88%;
    padding: 0 60px;
}

.wrapper-skills {
    width: 35%;
}

.wrapper-tasks {
    width: 65%;
}

footer {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
    color: black;
}

footer img {
    width: 30px;
}

#rs {
    width: 50px;
}

.icon {
    width: 20px;
    padding-right: 20px;
}
